.container--button{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
}
button{
    width: 11vw;
    height: 5vh;
    border: 0;
    color: #3c3c3c;
    background-color: var(--search-button-color);
    text-align: center;
    cursor: pointer;
}
i{
    margin: 5px;
    font-size: 1rem;
}
#AddButton{
    background-color: var(--background-table-color);
}
button:hover,#AddButton:hover{
    background-color: var(--search-button-hover-color);
}