* {
    box-sizing: border-box;
}

.container013 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__search {
    padding: 20px 20px 70px 20px;

}

img {
    width: 100%;
}

#search--input {
    width: 20vw;
    height: 10vh;
    outline: none;
    border: 0;
    font-size: 20px;
    padding-left: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

#search--button {
    width: 5vw;
    height: 10vh;
    font-size: 20px;
    border: 0;
    background-color: var(--search-button-color);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

#search--button:hover {
    background-color: var(--search-button-hover-color);
}