.container--table{
    height: 50vh;
    width: 100%;
    overflow:scroll;
    overflow-x:hidden;
    margin: auto;

}
table{
    background-color: var(--background-nth-table-color);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-left: 10px;
    color: #424242;
    border:0

}
th,td{

    text-align: center;
    padding: 8px;
}
thead{
    background-color:var(--background-table-color) ;
}
tbody :hover,tr:nth-child(even):hover{
    background-color: var(--button-color);
    cursor: grab;
}
tr:nth-child(even){
    background-color: var(--background-table-color);
}