.form__Information{

    height: auto;
    margin: 20px 15px 28px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;

}
label{
    font-size: 1rem;

}
.input--Information{
    width: 18vw;
    height: 5vh;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid var(--button-select);
    outline: none;
    padding-left: 5px;

}
input:focus,input:hover{
    border-bottom: 1px solid var(--background-table-color);
}
h1{
    color: var(--button-select);
    text-align: center;
    margin-top: 20px;
    text-shadow: .1em 0 .1em rgba(221, 74, 72, .9);
}
