*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    --body-color: #FFF;
    --background-table-color:#25d366;
    --search-button-color: #dcf8c6;
    --search-button-hover-color: #6fbc6d;
}
.App{
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
}