*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    --body-color: #FFF;
    --background-table-color:#415764;
    --search-button-color: #FCC324;
    --search-button-hover-color: #F2AB27;
}
.App{
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
}